/*
 * This file is part of ARSnova Mobile.
 * Copyright (C) 2011-2012 Christian Thomas Weber
 * Copyright (C) 2012-2016 The ARSnova Team
 *
 * ARSnova Mobile is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Mobile is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Mobile.  If not, see <http://www.gnu.org/licenses/>.
 */

.x-countdown-timer {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.countdownTimerContainer {
	width: 320px;
	height: 260px;
	margin: 0 auto;
	z-index: 999;

	.x-slider-field {
		background: transparent !important;
		margin: -30px auto;
	}
}

.timerMinutesColor {
	color: $timer-minutes-color;
}

.timerSecondsColor {
	color: $timer-seconds-color;
}

.timerWarningColor {
	color: $timer-warning-color;
}

.timerLabel {
	color: $timer-label-color;
	font-family: $timer-label-font;
}
